In [37]:
from splinter import Browser
from bs4 import BeautifulSoup
#from selenium import webdriver
#from selenium.webdriver.common.keys import Keys

from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

In [38]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [39]:
#Mars news url to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)
time.sleep(3)

In [40]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
#print(soup)

In [41]:
# Retrieve the latest News Title and Paragraph Text 
news_title = soup.find_all('div', class_='content_title')[0].text
news_paragraph = soup.find_all('div', class_='article_teaser_body')[0].text
    
print(f"news_title = {news_title}\n")
print(f"news_paragraph = {news_paragraph}")

news_title = Meet the People Behind NASA's Perseverance Rover

news_paragraph = These are the scientists and engineers who built NASA's next Mars rover and who will guide it to a safe landing in Jezero Crater.

## JPL Mars Space Images—Featured Image

In [42]:
f_image_url = 'https://spaceimages-mars.com'
browser.visit(f_image_url)
time.sleep(3)

In [47]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
#print(soup)


#feature = soup.find_all('div', class_='floating_text_area')
featured_media_title = soup.find('h1', class_='media_feature_title').text
link = soup.find('a', class_='showimg fancybox-thumbs')
featured_image_url = link['href']
print(f"Featured_image_title = {featured_media_title}")
print(f"featured_image_url = {f_image_url}/{featured_image_url}")

# navigate web page to find large image url
browser.find_by_name(' FULL IMAGE').click()
#browser.find_by_name(' FULL IMAGE').click()
time.sleep(3)
print('hello')

Featured_image_title = Dusty Space Cloud
featured_image_url = https://spaceimages-mars.com/image/featured/mars2.jpg

ElementDoesNotExist: no elements could be found with name " FULL IMAGE"

## MARS FACTS

In [20]:
#url for Mars's facts
mars_facts_url = 'https://galaxyfacts-mars.com'

In [21]:
#use panda's read html
mars_facts = pd.read_html(mars_facts_url)
mars_facts

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [22]:
type(mars_facts)

list

In [23]:
#Mars Facts Dataframe
mars_facts_df = mars_facts[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [24]:
#setting the column name
mars_facts_df.columns = ['Description', 'Mars', 'Earth']
mars_facts_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [25]:
#removed ':' at the end of the description
mars_facts_df['Description'] = mars_facts_df['Description'].str.replace(':', '')
mars_facts_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                 Diameter         6,779 km        12,742 km
2                     Mass  6.39 × 10^23 kg  5.97 × 10^24 kg
3                    Moons                2                1
4        Distance from Sun   227,943,824 km   149,598,262 km
5           Length of Year   687 Earth days      365.24 days
6              Temperature     -87 to -5 °C      -88 to 58°C

In [26]:
#setting 'Description' as index
mars_facts_df.set_index('Description', inplace = True)
mars_facts_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter                        6,779 km        12,742 km
Mass                     6.39 × 10^23 kg  5.97 × 10^24 kg
Moons                                  2                1
Distance from Sun         227,943,824 km   149,598,262 km
Length of Year            687 Earth days      365.24 days
Temperature                 -87 to -5 °C      -88 to 58°C

In [27]:
mars_facts_html = mars_facts_df.to_html()
print(mars_facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Mars - Earth Comparison</th>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>Diameter</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres