## Dependencies

In [84]:
from splinter import Browser
from bs4 import BeautifulSoup
#from selenium import webdriver

from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

import requests

In [85]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [86]:
#Mars news url to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)
time.sleep(3)

In [87]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
#print(soup)

In [88]:
# Retrieve the latest News Title and Paragraph Text 
news_title = soup.find_all('div', class_='content_title')[0].text
news_paragraph = soup.find_all('div', class_='article_teaser_body')[0].text
    
print(f"news_title = {news_title}\n")
print(f"news_paragraph = {news_paragraph}")

news_title = NASA's Perseverance Rover 100 Days Out

news_paragraph = Mark your calendars: The agency's latest rover has only about 8,640,000 seconds to go before it touches down on the Red Planet, becoming history's next Mars car.

## JPL Mars Space Imagesâ€”Featured Image

In [89]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

f_image_url = 'https://spaceimages-mars.com'
browser.visit(f_image_url)
time.sleep(3)

In [90]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
#print(soup)
# enter keyword to search
keyword = "FULL IMAGE"
 
# get element
button = browser.find_element_by_css("btn")
 
# clicking on the button
button.click()

soup = BeautifulSoup(html, 'html.parser')
print(soup)

AttributeError: 'WebDriver' object has no attribute 'find_element_by_css'

In [91]:
#feature = soup.find_all('div', class_='floating_text_area')
featured_media_title = soup.find('h1', class_='media_feature_title').text
link = soup.find('a', class_='showimg fancybox-thumbs')
featured_image_url = link['href']
print(f"Featured_image_title = {featured_media_title}")
print(f"featured_image_url = {f_image_url}/{featured_image_url}")

# navigate web page to find large image url
browser.find_by_name(' FULL IMAGE').click()
time.sleep(3)

Featured_image_title = Dusty Space Cloud
featured_image_url = https://spaceimages-mars.com/image/featured/mars2.jpg

ElementDoesNotExist: no elements could be found with name " FULL IMAGE"

## MARS FACTS

In [92]:
#url for Mars's facts
mars_facts_url = 'https://galaxyfacts-mars.com'

In [93]:
#use panda's read html
mars_facts = pd.read_html(mars_facts_url)
mars_facts

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 Â°C      -88 to 58Â°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 Ã— 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [94]:
type(mars_facts)

list

In [95]:
#Mars Facts Dataframe
mars_facts_df = mars_facts[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 Â°C      -88 to 58Â°C

In [96]:
#setting the column name
mars_facts_df.columns = ['Description', 'Mars', 'Earth']
mars_facts_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 Â°C      -88 to 58Â°C

In [97]:
#removed ':' at the end of the description
mars_facts_df['Description'] = mars_facts_df['Description'].str.replace(':', '')
mars_facts_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                 Diameter         6,779 km        12,742 km
2                     Mass  6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
3                    Moons                2                1
4        Distance from Sun   227,943,824 km   149,598,262 km
5           Length of Year   687 Earth days      365.24 days
6              Temperature     -87 to -5 Â°C      -88 to 58Â°C

In [98]:
#setting 'Description' as index
mars_facts_df.set_index('Description', inplace = True)
mars_facts_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter                        6,779 km        12,742 km
Mass                     6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
Moons                                  2                1
Distance from Sun         227,943,824 km   149,598,262 km
Length of Year            687 Earth days      365.24 days
Temperature                 -87 to -5 Â°C      -88 to 58Â°C

In [99]:
mars_facts_html = mars_facts_df.to_html()
print(mars_facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Mars - Earth Comparison</th>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>Diameter</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass</th>
      <td>6.39 Ã— 10^23 kg</td>
      <td>5.97 Ã— 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature</th>
      <td>-87 to -5 Â°C</td>
      <td>-88 to 58Â°C</td>
    </tr>
  </tbody>
</table>

In [100]:
#convert the dataframe to a HTML table and save to html file ---
mars_facts_df.to_html('marsfacts.html', index=False)

## Mars Hemispheres

In [101]:
# --- visit the Mars Hemisphere website ---
MarsHemImage_url = 'https://marshemispheres.com/'
time.sleep(5)
browser.visit(MarsHemImage_url)

# --- create HTML object ---
html = browser.html

# --- parse HTML with BeautifulSoup ---
soup = BeautifulSoup(html, 'html.parser')

In [102]:
#print(soup.prettify())

#results = soup.find_all('div', class_='thmbgroup')
# results = soup.find('div', attrs={'class':'description'}).text

#print(results)

In [103]:
results = soup.find_all('div', class_='item')
# results = soup.find('div', attrs={'class':'description'}).text

print(results)

[<div class="item">
<a class="itemLink product-item" href="cerberus.html"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="cerberus.html">
<h3>Cerberus Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquiredâ€¦</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="schiaparelli.html"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="schiaparelli.html">
<h3>Schiaparelli Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northernâ€¦</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="syrtis.html"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="syrtis.html">
<h3>Syrtis Major Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violetâ€¦</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="valles.html"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="valles.html">
<h3>Valles Marineris Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface ofâ€¦</p>
</div>
<!-- end description -->
</div>]

In [104]:
# Create a dictionary to later append to

hemisphere_image_urls = []

# Store the main_ul 
hemispheres_main_url = 'https://marshemispheres.com/'

# Loop through the items previously stored
for i in results: 
    # Store title
    title = i.find('h3').text
    
    # Store link that leads to full image website
    initial_img_url = i.find('a', class_='itemLink product-item')['href']
    
    # Visit the link that contains the full image website 
    browser.visit(hemispheres_main_url + initial_img_url)
    
    # HTML Object of individual hemisphere information website 
    initial_img_html = browser.html
    
    # Parse HTML with Beautiful Soup for every individual hemisphere information website 
    soup = BeautifulSoup( initial_img_html, 'html.parser')
    
    # Retrieve full image source 
    img_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
    
    # Append the retreived information into a list of dictionaries 
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    

# Display hemisphere_image_urls
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]