## Dependencies

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
#from selenium import webdriver

from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

import requests

In [44]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [45]:
#Mars news url to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)
time.sleep(3)

In [46]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
#print(soup)

In [47]:
# Retrieve the latest News Title and Paragraph Text 
news_title = soup.find_all('div', class_='content_title')[0].text
news_paragraph = soup.find_all('div', class_='article_teaser_body')[0].text
    
print(f"news_title = {news_title}\n")
print(f"news_paragraph = {news_paragraph}")

news_title = NASA's Briefcase-Size MarCO Satellite Picks Up Honors

news_paragraph = The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.

## JPL Mars Space Images—Featured Image

In [48]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

f_image_url = 'https://spaceimages-mars.com'
browser.visit(f_image_url)
time.sleep(3)

In [49]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
#print(soup)

# clicking the full image button and get the html details.
browser.find_by_tag('button')[1].click()
 
soup = BeautifulSoup(html, 'html.parser')
#print(soup)

In [50]:
#feature = soup.find_all('div', class_='floating_text_area')
featured_media_title = soup.find('h1', class_='media_feature_title').text
link = soup.find('a', class_='showimg fancybox-thumbs')
featured_image_url = link['href']
print(f"Featured_image_title = {featured_media_title}")
print(f"featured_image_url = {f_image_url}/{featured_image_url}")

Featured_image_title = Dusty Space Cloud
featured_image_url = https://spaceimages-mars.com/image/featured/mars3.jpg

## MARS FACTS

In [51]:
#url for Mars's facts
mars_facts_url = 'https://galaxyfacts-mars.com'

In [52]:
#use panda's read html
mars_facts = pd.read_html(mars_facts_url)
mars_facts

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [53]:
type(mars_facts)

list

In [54]:
#Mars Facts Dataframe
mars_facts_df = mars_facts[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [55]:
#setting the column name
mars_facts_df.columns = ['Description', 'Mars', 'Earth']
mars_facts_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [56]:
#removed ':' at the end of the description
mars_facts_df['Description'] = mars_facts_df['Description'].str.replace(':', '')
mars_facts_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                 Diameter         6,779 km        12,742 km
2                     Mass  6.39 × 10^23 kg  5.97 × 10^24 kg
3                    Moons                2                1
4        Distance from Sun   227,943,824 km   149,598,262 km
5           Length of Year   687 Earth days      365.24 days
6              Temperature     -87 to -5 °C      -88 to 58°C

In [57]:
#setting 'Description' as index
mars_facts_df.set_index('Description', inplace = True)
mars_facts_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter                        6,779 km        12,742 km
Mass                     6.39 × 10^23 kg  5.97 × 10^24 kg
Moons                                  2                1
Distance from Sun         227,943,824 km   149,598,262 km
Length of Year            687 Earth days      365.24 days
Temperature                 -87 to -5 °C      -88 to 58°C

In [58]:
mars_facts_html = mars_facts_df.to_html()
print(mars_facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Mars - Earth Comparison</th>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>Diameter</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [59]:
#convert the dataframe to a HTML table and save to html file ---
mars_facts_df.to_html('marsfacts.html', index=False)

## Mars Hemispheres

In [26]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# --- visit the Mars Hemisphere website ---
MarsHemImage_url = 'https://marshemispheres.com/'
time.sleep(3)
browser.visit(MarsHemImage_url)

# --- create HTML object ---
html = browser.html

# --- parse HTML with BeautifulSoup ---
soup = BeautifulSoup(html, 'html.parser')

In [27]:
print(soup.prettify())

<html lang="en">
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="css/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <title>
   Astropedia Search Results | GUSS Astrogeology Science Center
  </title>
  <meta content="GUSS Astrogeology Science Center Astropedia search results." name="description"/>
  <meta content="GUSS,Astrogeology Science Center,Cartography,Geology,Space,Geological Survey,Mapping" name="keywords"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
  <link href="css/main.css" media="screen" rel="stylesheet"/>
  <link href="css/print.css" media="print" rel="stylesheet"/>
  <link href="#" rel="icon" type="image/x-ico"/>
 </head>
 <body id="results">
  <header>
   <a href="#" style="float:right;margin-top:10px;" target="_blank">
    <img alt="USGS: Science for a Changing World" class="logo" height="60" src="images/usgs_logo_main_2x.png"/>
   </a>
   <a href="#" style="float:right;margin-top:5px;margin-right:20px;" target="_blank">
    <img alt="NASA" class="logo" height="65" src="images/nasa-logo-web-med.png"/>
   </a>
  </header>
  <div class="wrapper">
   <div class="container">
    <div class="widget block bar">
     <a href="https://astrogeology.usgs.gov/search" style="float:right;text-decoration:none;">
      <img alt="Astropedia" src="images/astropedia-logo-main.png" style="width:200px;border:none;float:right;"/>
      <div style="clear:both;font-size:.8em;float:right;color:#888;">
       Lunar and Planetary Cartographic Catalog
      </div>
     </a>
     <div style="float:left;height:60px;">
     </div>
    </div>
    <div class="full-content">
     <section class="block" id="results-accordian">
      <div class="result-list" data-section="product" id="product-section">
       <div class="accordian">
        <h2>
         Products
        </h2>
        <span class="count">
         4 Results
        </span>
        <span class="collapse">
         Collapse
        </span>
       </div>
       <div class="collapsible results">
        <div class="item">
         <a class="itemLink product-item" href="cerberus.html">
          <img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/>
         </a>
         <div class="description">
          <a class="itemLink product-item" href="cerberus.html">
           <h3>
            Cerberus Hemisphere Enhanced
           </h3>
          </a>
          <span class="subtitle" style="float:left">
           image/tiff 21 MB
          </span>
          <span class="pubDate" style="float:right">
          </span>
          <br/>
          <p>
           Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…
          </p>
         </div>
         <!-- end description -->
        </div>
        <div class="item">
         <a class="itemLink product-item" href="schiaparelli.html">
          <img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/>
         </a>
         <div class="description">
          <a class="itemLink product-item" href="schiaparelli.html">
           <h3>
            Schiaparelli Hemisphere Enhanced
           </h3>
          </a>
          <span class="subtitle" style="float:left">
           image/tiff 35 MB
          </span>
          <span class="pubDate" style="float:right">
          </span>
          <br/>
          <p>
           Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…
          </p>
         </div>
         <!-- end description -->
        </div>
        <div class="item">
         <a class="itemLink product-item" href="syrtis.html">
          <img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/>
         </a>
         <div class="description">
          <a class="itemLink product-item" href="syrtis.html">
           <h3>
            Syrtis Major Hemisphere Enhanced
           </h3>
          </a>
          <span class="subtitle" style="float:left">
           image/tiff 25 MB
          </span>
          <span class="pubDate" style="float:right">
          </span>
          <br/>
          <p>
           Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…
          </p>
         </div>
         <!-- end description -->
        </div>
        <div class="item">
         <a class="itemLink product-item" href="valles.html">
          <img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/>
         </a>
         <div class="description">
          <a class="itemLink product-item" href="valles.html">
           <h3>
            Valles Marineris Hemisphere Enhanced
           </h3>
          </a>
          <span class="subtitle" style="float:left">
           image/tiff 27 MB
          </span>
          <span class="pubDate" style="float:right">
          </span>
          <br/>
          <p>
           Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…
          </p>
         </div>
         <!-- end description -->
        </div>
       </div>
       <!-- end this-section -->
      </div>
     </section>
    </div>
    <div class="navigation clear" style="display: none;">
     <a class="itemLink product-item" href="#" onclick="showMain()">
      <h3>
       Back
      </h3>
     </a>
    </div>
   </div>
   <footer>
    <div class="left">
     <a href="#">
      Search
     </a>
     |
     <a href="#">
      About
     </a>
     |
     <a href="#">
      Contact
     </a>
    </div>
    <div class="right">
     <a href="#">
      GUSS Science Center
     </a>
    </div>
   </footer>
  </div>
  <div class="page-background" style="
         background:url('./images/mars.jpg');
         filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(
         src='./images/mars.jpg', sizingMethod='scale');
         ">
  </div>
  <script type="text/javascript">
   var baseUrl = "";
  </script>
  <script src="js/jquery.min.js" type="text/javascript">
  </script>
  <script src="js/jquery-ui.min.js" type="text/javascript">
  </script>
  <script src="js/general.js" type="text/javascript">
  </script>
 </body>
</html>

In [34]:
results = soup.find_all('div',class_='description')

#print(results)

list_hemispheres = []
for i in range(len(results)):
    list_hemispheres.append(results[i].a.h3.text)

list_hemispheres

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [35]:
# --- create HTML object ---
html = browser.html

# --- parse HTML with BeautifulSoup ---
soup = BeautifulSoup(html, 'html.parser')

# Create a dictionary to later append to

hemisphere_image_urls = []

# Store the main_ul 
#hemispheres_main_url = 'https://marshemispheres.com/'

#links = browser.find_by_css('a.product-item img')
#print(links)

In [36]:

# Create a list of dictionaries for each hemisphere
for i in range(len(list_hemispheres)):

    # Use the browser to visit the url
    #browser.click_link_by_partial_text(list_hemispheres[i])
    print(i)
    results = browser.click_link_by_href(list_hemispheres[i])
    print(results)

0

AttributeError: 'WebDriver' object has no attribute 'click_link_by_href'